<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-256x256.png">
    <link rel="stylesheet" href="/css/custom.css">
    <meta name="theme-color" content="#F4F4F4">
    <!-- SEO basics -->
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="Pockit, books, mini, smartphone-sized, digital addiction, study, notes, courses">
    <meta name="author" content="Ian Allan">
    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://www.pockit.works/images/pockit-social-share.jpg">
    <meta property="og:url" content="https://www.pockit.works">
    <meta property="og:type" content="website">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://www.pockit.works/images/pockit-social-share.jpg">

</head>

<body class="{{ page.fileSlug }}">
    {{ content | safe }}

    <script src="/js/custom.js" defer></script>
</body>

</html>