---
layout: course.njk
title: "L5 Business Functions"
---


<nav>
    {% set handouts = collections.courses | where("data.course", "l5-business-functions") %}
    {% set weeks = handouts | groupByWeek %}

    {% for w in weeks %}
    <h2><a href="#week-{{ w.week }}">Week {{ w.week }}</a></h2>
    <ul>
        {% for h in w.items %}
        <li>
            <a href="#handout-{{ w.week }}-{{ h.data.handout }}">{{ h.data.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</nav>

<main>
    {% set courseWeeks = collections.courses | groupByCourseWeek %}
    {{ courseWeeks | log }}


    {% for w in weeks %}
    <section id="week-{{ w.week }}">
        <div class="week-header">
            <h2>W{{ w.week }}</h2>
            <div class="week-controls">
                <a href="/courses/{{ w.items[0].data.provider }}/{{ w.items[0].data.course }}/materials/week-{{ w.week }}/print/"
                    title="Print these Pockit Course Cards">
                    Pockit Print
                </a>


                <a href="#week-{{ w.week }}" title="Jump to section">Copy link</a>
            </div>
        </div>

        {% for h in w.items %}
        <article id="handout-{{ w.week }}-{{ h.data.handout }}">
            {{ h.templateContent | safe }}
        </article>
        {% endfor %}
    </section>
    {% endfor %}

</main>